@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    accent-color: #d1293d;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    min-height: 100%;
    min-height: 100vh;
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #202124;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8em + 0.14vw + 0.32vmin);
}

h1,
h2,
h3 {
    font-family: 'Google Sans', 'Product Sans', 'Roboto', sans-serif;
    margin: 0.4em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.72em;
}

h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #ff773d;
    transition: color 0.24s cubic-bezier(0.35, 0, 0.15, 1);
}

a:hover,
a:focus {
    color: #d1293d;
    outline: none;
}

a:not(.button):focus {
    text-decoration: underline;
}

/* Header */

header {
    height: 4em;
    padding: 0.12em 1.2em;
    display: flex;
    align-items: center;
}

header>* {
    margin: 0 0.4em;
}

header> :last-child() {
    margin-right: 0;
}

header>h1 {
    flex-grow: 1;
    margin-left: 0;
}

header #SkipNav {
    position: absolute;
    transform: translateX(-140%);
    transform: translateX(calc(-100% - 1.2em));
    transition: transform 0.3s ease-out, margin 0.3s ease-out;
    margin: 0;
}

header #SkipNav:focus {
    transform: translateX(0);
}

/* Sections */

main {
    box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.22), 0 0.0625em 0.375em rgba(0, 0, 0, 0.14);
    text-align: center;
}

section {
    display: none;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100vh;
    min-height: calc(100vh - 4em);
    padding: 5vw;
    padding: 5vmin;
    max-width: 800px;
}

section.visible {
    display: flex !important;
}

/* Footer */

footer {
    padding: 1em 5vw;
    padding: calc(0.5em + 1.2vw) 5vw;
    max-width: 100vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

footer .iconLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em;
}

/* Buttons */

button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 3em;
    padding: 0.625em 1.5em;
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.32), 0 0.0625em 0.375em rgba(0, 0, 0, 0.18);
    font-family: 'Google Sans', 'Product Sans', 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.15, 1);
}

button:disabled {
    cursor: not-allowed;
}

button:hover,
button:focus,
a:hover button,
a:focus button {
    box-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.2), 0 0.04em 0.1em rgba(0, 0, 0, 0.1);
}

button:focus,
a:focus button {
    box-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.2), 0 0.04em 0.1em rgba(0, 0, 0, 0.1);
    outline: none;
}

button>span {
    display: inline-block;
    z-index: 1;
}

button:before,
button:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.25em;
    z-index: 0;
}

button:disabled:before,
button:disabled:after {
    display: none !important;
}

button:before {
    background-color: #ff4c1d;
    background-image: linear-gradient(107deg, #ff4c1d, #9b0063);
}

button:after {
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: linear-gradient(-107deg, #ff4c1d, #9b0063);
    transition: opacity 0.4s cubic-bezier(0.35, 0, 0.15, 1), filter 0.4s cubic-bezier(0.35, 0, 0.15, 1);
}

button:hover:after,
a:hover button:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

button:focus:before,
a:focus button:before {
    box-shadow: 0 0 0 2px rgba(255, 119, 61, 1);
}

button.outline,
button.outline:before,
button.outline:after {
    padding: 0.2em !important;
    height: auto;
    border-radius: 0.42em;
}

button.outline>span {
    background-color: #202124;
    padding: 1.15em 1.1em;
    height: 2.6em;
    line-height: 0.2em;
    border-radius: 0.25em;
    box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.32) inset, 0 0.0625em 0.375em rgba(0, 0, 0, 0.18) inset;
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.15, 1);
}

button.outline:hover>span,
a:hover button.outline>span {
    box-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.2) inset, 0 0.04em 0.1em rgba(0, 0, 0, 0.1) inset;
}

button span.buttonIcon {
    display: inline-block;
    margin: -0.1875em 0.4em -0.1875em 0;
    font-size: 1.6em;
    vertical-align: middle;
    height: 0.8em;
    line-height: 0.5em;
}

button+button,
button+a.button,
a.button+button,
a.button+a.button {
    margin-left: 0.76em;
}

header a.button>button {
    padding-left: 0.625em;
}

header a.button>button>span {
    display: flex;
    align-items: center;
}

/* Controller */

#Controller {
    width: auto;
    height: auto;
    max-width: 88vw;
    max-width: calc(96vw - 10vmin);
    max-height: 70vh;
    max-height: calc(90vh - 4em - 10vmin);
}

#Controller .transparent {
    opacity: 0.1;
}

#Controller .button {
    fill: #fff;
    opacity: 0.1;
}

#Controller .button.active {
    fill: #d1293d;
    opacity: 0.5;
}

#Controller .decal {
    fill: #ededed;
}

#Controller #ShoulderLeft,
#Controller #ShoulderRight {
    fill: #ededed;
}

#Controller #ShoulderLeft.active,
#Controller #ShoulderRight.active {
    fill: #d1293d;
}

#Controller .trigger {
    fill: none;
    stroke: #d1293d;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 34px;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
}

#Controller .outline {
    fill: #d9d9d9;
}

#Controller .outline-dark {
    fill: #d9d9d9;
    opacity: 0.4;
}

#Controller .controller {
    fill: #e6e6e6;
}

#Controller .stick-outer {
    fill: #c8c8c8;
}

#Controller .stick-inner {
    fill: #f9f9f9;
}

#Controller .dpad {
    fill: #757575;
    opacity: 0;
}

#Controller .dpad.active {
    fill: #d1293d;
    opacity: 0.5;
}